* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url('https://img.freepik.com/free-vector/gradient-music-notes-background_23-2151320190.jpg') no-repeat center center fixed;
  background-size: cover;
  color:white;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin: 20px 0;
}

.search-input {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.artist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.artist-card {
  background-color: #323258ee;
  width: 350px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  text-align: center;
  position: relative;
}

.artist-card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

.artist-card h3 {
  margin-top: 10px;
  font-size: 18px;
}

.artist-card p {
  margin-top: 5px;
  color: #777;
}

.artist-card a {
  color: #1db954;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  font-weight: bold;
}

.artist-card a:hover {
  text-decoration: underline;
}

.heart {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: gray;
  transition: color 0.3s;
}

.heart:hover {
  color: red;
}

.remove-btn {
  padding:3px;
}

#viewFavorites{
  margin-left: 20px;
  padding: 15px;
  background-color: #1db954;
  font-size: large;
  font-weight: bold;
  border-radius: 5%;
}

.delete-icon {
  color: rgb(207, 18, 18);
  font-size: 20px;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.delete-icon:hover {
  color: darkred;
}


/* Adjust layout for tablets (screen width less than 768px) */
@media (max-width: 768px) {
  .search-input {
    width: 80%;
  }

  .artist-list {
    flex-direction: column;
    align-items: center;
  }

  .artist-card {
    width: 90%;
    margin-bottom: 20px;
  }

  .artist-card img {
    width: 200px;
    height: 200px;
  }
}

/* Adjust layout for mobile phones (screen width less than 480px) */
@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  .search-input {
    width: 90%;
    font-size: 14px;
    padding: 8px;
  }

  .artist-card {
    width: 100%;
    padding: 15px;
  }

  .artist-card img {
    width: 150px;
    height: 150px;
  }

  .heart {
    font-size: 20px;
  }

  #viewFavorites {
    font-size: 14px;
    padding: 6px;
    margin-left: 0;
    margin-bottom: 10px;
  }
}
